<%- include('header') %>
    <main class="about-body">
        <div class="about-content">
            <p class="text">
                Hi, Im christopher and this website is one of projects this site in using express with ejs and mongoDB.
                This a todo list web site you'll automatically be logged into a public account.if you want to have your
                own todo list you'll have to
                sign up and login
                <a href="#" target="_blank">Here's a link to the GitHub repository</a>
            </p>
        </div>
    </main>
    <%- include('footer') %>