<%- include('header') %>
    <main class="about-body">
        <div class="about-content">
            <h2 class="heading-2">About</h2>
            <p class="text">
                Hi, Im christopher and this website is one of my projects.
                This site in using <strong><i>express</i></strong> with <strong><i>ejs</i></strong> and
                <strong><i>mongoDB</i></strong>.This site is a todo list app that stores your data on a database.
                If you want to access the Home page you'll have to sign in, you can use GitHub, Google or local signIn.
                Your session data wil only last a day before it expires
                <a href="#" target="_blank">Here's a link to the GitHub repository</a>
            </p>

            <h2 class="heading-2">Other Projects</h2>
            <dl class="text">
                <dt>Online CV</dt>
                <dd><a href="https://fox5352.github.io/online-cv/">Online Cv of me the creator of this web site</a></dd>
                <dt>Simon Game</dt>
                <dd><a href="https://fox5352.github.io/simon-game/">A responsive static page with plain javaScript</a></dd>
                <dt>Color pallet app</dt>
                <dd><a href="https://github.com/fox5352/react-color-palette-app" disabled title="project not done yet">A app that stores color pallets made with <strong><i>ReactJS</i> and an express backend</strong></a></dd>
            </dl>

            <h2 class="heading-2">Contact details</h2>
            <dl class="text">
                <dt>GitHub</dt>
                <dd><a href="https://github.com/fox5352">If you want to see all my project click here</a></dd>
                <dt>LinkedIn</dt>
                <dd><a href="https://www.linkedin.com/in/christopher-vos-376910266/">My LinkedIn profile</a></dd>
                <dt>Gmail</dt>
                <dd><a href="mailto:voschristopher53@gmail.com">voschristopher53@gmail.com</a> email me</dd>
                
            </dl>

            <h2 class="heading-2">list of software used</h2>
            <ul class="ul-text">
                <!-- TODO:update list of software and style -->
                <li class="list-item">ejs</li>
                <li class="list-item">express</li>
                <li class="list-item">helmet</li>
                <li class="list-item">bcrypt</li>
                <li class="list-item">dotenv</li>
                <li class="list-item">passport</li>
                <li class="list-item">mongoose</li>
                <li class="list-item">body parser</li>
                <li class="list-item">express-session</li>
                <li class="list-item">bootstrap icons</li>
            </ul>
        </div>
    </main>
    <%- include('footer') %>