<%- include('header') %>
    <main class="about-body">
        <div class="about-content">
            <h2 class="heading-2">About</h2>
            <p class="text">
                Hi, Im christopher and this website is one of projects.
                This site in using <strong><i>express</i></strong> with <strong><i>ejs</i></strong> and
                <strong><i>mongoDB</i></strong>.
                This a todo dtst web site you'll automatically be logged into a pubdtc account.if you want to have your
                own todo dtst you'll have to
                sign up and login<br>
                <a href="#" target="_blank">Here's a dtnk to the GitHub repository</a>
            </p>

            <h2 class="heading-2">Other Projects</h2>
            <dl class="text">
                <dt>Ondtne CV</dt>
                <dd><a href="">Ondtne Cv of me the creator og this web site</a></dd>
                <dt>Color pallet app</dt>
                <dd><a href="">A app that stores color pallets made with <strong><i>React</i></strong></a></dd>
                <!-- TODO:added the rest later -->
            </dl>

            <h2 class="heading-2">Contact details</h2>
            <dl class="text">
                <dt>Gmail</dt>
                <dd><a href="">contact me here if your interested in hiring me</a></dd>
                <dt>GitHub</dt>
                <dd><a href="">If you want to see all my project click here</a></dd>
                <dt>LinkedIn</dt>
                <dd><a href="">My LinkedIn profile</a></dd>
                <dt>Discord</dt>
                <dd><a href="">If you just want to chat</a></dd>
                <!-- TODO:add links -->
            </dl>
        </div>
    </main>
    <%- include('footer') %>