<%- include('header') %>
    <main class="login-body">
        <form action="/login" method="POST" class="form-block">
            <h2 class="form-heading">Login / register</h2>
            <div class="form-control">
                <input type="text" class="form-input" name="username" required>
                <label class="form-label">UserName</label>
            </div>

            <div class="form-control">
                <input type="password" class="form-input" name="password" required>
                <label class="form-label">Password</label>
            </div>

            <!-- <a class="form-link" href="/register">don't have an account ?</a> -->
            <button class="form-btn" type="submit">Enter</button>
        </form>
    </main>
    <%- include('footer') %>