<%- include('header') %>
    <main class="login-body">
        <div class="form-block">
            <a class="link" href="/auth/google" ><button class="link-btn" type="submit" disabled >Google <i>icon</i></button></a>
            <a class="link" href="/auth/github" ><button class="link-btn" type="submit" disabled >GitHub <i>icon</i></button></a>
            <a class="link" href="/login" ><button class="link-btn" type="submit">local</button></a>
        </div>
    </main>

    <%- include('footer') %>