:root {
    --fg-one: #fff0f0;
    --header-bg-color-one: #E52D27;
    --header-bg-color-two: #B31217;
    --bg-color: #f9d5d3;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    background-color: var(--fg-one);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;

    height: 50px;

    border: 0;
    border-radius: 0 0 8px 8px;
    background-image: linear-gradient(90deg, var(--header-bg-color-one), var(--header-bg-color-two));
    background-image: -moz-linear-gradient(90deg, var(--header-bg-color-one), var(--header-bg-color-two));
    background-image: -webkit-linear-gradient(90deg, var(--header-bg-color-one), var(--header-bg-color-two));
}

.heading {
    display: flex;
    align-items: center;
}

.title {
    margin: 0;
    padding: 0;
    padding-left: 8px;

    color: var(--fg-one);
}

.nav-controls {
    display: flex;

    margin-right: 25px;
}

.nav-controls>a {
    color: var(--fg-one);
    text-decoration: none;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 82px;

    border: 0;
    color: var(--fg-one);
    background-color: inherit;
}

.nav-btn:hover {
    background-color: #8f0e12;
}

/* ABOUT PAGE */
.about-body {
    display: flex;
    justify-content: center;

    width: 100%;
}

.about-content {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.heading-2 {
    padding: 0px 5px 0px;
    margin: 0;

    text-align: left;
    line-height: 3;
    letter-spacing: 3px;
    color: var(--header-bg-color-one);
}

.heading-2:nth-last-of-type(even) {
    text-align: right;
    color: var(--header-bg-color-two);
}

.text {
    margin: 0;
    padding: 8px 8px;

    font-size: 18px;
    font-family: serif;
    list-style: none;

    border: 0;
    border-radius: 8px;
    box-shadow: -3px -3px var(--header-bg-color-one), 3px 3px var(--header-bg-color-two), 3px -3px var(--header-bg-color-one), -3px 3px var(--header-bg-color-two);
    background-color: var(--bg-color);
}

.text>strong {
    color: var(--header-bg-color-one);
}

.text a {
    color: var(--header-bg-color-one);
    text-decoration: none;
}

.text a:hover {
    color: var(--header-bg-color-two);
}


/* LOGIN and REGISTER PAGEs  */
.login-body {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 80vh;
}

.form-block {
    display: flex;
    flex-direction: column;

    padding: 8px;
    margin: auto 0px;
    width: 295px;

    border: 0;
    border-radius: 8px;
    box-shadow: -3px -3px var(--header-bg-color-one), 3px 3px var(--header-bg-color-two), 3px -3px var(--header-bg-color-one), -3px 3px var(--header-bg-color-two);
    background-color: var(--bg-color);
}

.form-heading {
    display: flex;
    justify-content: center;

    padding: 0;
    margin: 0 0 10px;

    color: var(--header-bg-color-one);
}

.form-control {
    width: 100%;
}

.form-input {
    margin-top: 16px;

    width: 100%;
    height: 30px;

    font-size: 16px;
    border: 0;
    border-radius: 4px;
    border-bottom: 1px solid var(--header-bg-color-one);
}

.form-input:focus {
    outline: 0;
    color: var(--header-bg-color-two);
}

.form-label {
    position: relative;
    top: -25px;
    left: 2px;

    font-size: 16px;
    color: var(--header-bg-color-two);
}

.form-input:focus+.form-label,
.form-input:valid+.form-label {
    top: -53px;

    font-size: 17px;
    font-weight: bold;
}

.form-btn {
    margin: 0 auto;

    width: 55%;
    height: 37px;

    font-size: 17px;
    color: var(--fg-one);

    border: 0;
    border-radius: 8px;
    background-image: linear-gradient(90deg, var(--header-bg-color-one), var(--header-bg-color-two));
    background-image: -moz-linear-gradient(90deg, var(--header-bg-color-one), var(--header-bg-color-two));
    background-image: -webkit-linear-gradient(90deg, var(--header-bg-color-one), var(--header-bg-color-two));
}

@media screen and (max-width: 512px) {

    .nav-btn {
        margin: 0px 2px;

        width: 41px;
    }

    .nav-btn:hover {
        background-color: #8f0e12;
    }
}

@media screen and (max-width:350px) {
    header {
        justify-content: center;
    }

    header .heading {
        display: none;
    }

    .nav-btn {
        margin: 0px 2px;

        width: 61px;
    }

    .nav-btn:hover {
        background-color: #8f0e12;
    }
}