:root {
    --fg-one: #fff0f0;
    --header-bg-color-one: #E52D27;
    --header-bg-color-two: #B31217;
    --bg-color: #f9d5d3;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    font-family: sans-serif;
    /* background-color: var(--fg-one); */
}



/* HEADER */
header {
    display: flex;
    justify-content: space-between;

    height: 50px;

    border: 0;
    border-radius: 0 0 8px 8px;
    background-image: linear-gradient(90deg, var(--header-bg-color-one), var(--header-bg-color-two));
    background-image: -moz-linear-gradient(90deg, var(--header-bg-color-one), var(--header-bg-color-two));
    background-image: -webkit-linear-gradient(90deg, var(--header-bg-color-one), var(--header-bg-color-two));
}

.heading {
    display: flex;
    align-items: center;
}

.title {
    margin: 0;
    padding: 0;
    padding-left: 8px;

    color: var(--fg-one);
}

.nav-controls {
    display: flex;

    margin-right: 25px;
}

.nav-controls>a {
    color: var(--fg-one);
    text-decoration: none;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 82px;

    border: 0;
    color: var(--fg-one);
    fill: var(--fg-one);
    background-color: inherit;
}

.nav-btn:hover {
    background-color: #8f0e12;
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;

    fill: var(--fg-one);
}

/* HOME TODO list page */

.container {
    display: flex;
    justify-content: center;

    width: 100%;
}

.note-pad {
    padding: 8px 8px 5px;

    margin: 70px 0px 0px;
    width: 400px;

    border: 0;
    border-radius: 8px;
    box-shadow: -3px -3px var(--header-bg-color-one), 3px 3px var(--header-bg-color-two), 3px -3px var(--header-bg-color-one), -3px 3px var(--header-bg-color-two);
    background-color: var(--bg-color);
}

.notes {
    display: flex;
    padding: 5px;
    margin: 2px 0px;
    min-height: 25px;

    border: 0;
    box-shadow: -3px -3px var(--header-bg-color-one), 3px 3px var(--header-bg-color-two), 3px -3px var(--header-bg-color-one), -3px 3px var(--header-bg-color-two);
    background-color: var(--fg-one);
}

.notes:nth-last-child(1) {
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 15px;
}

.notes:first-child {
    border-radius: 8px 8px 0px 0px;
}

.notes * {
    padding: 0;
    margin: 0;
}

.notes input {
    display: flex;
}

.notes p {
    display: flex;
    align-items: center;
    padding: 2px 2px 2px 5px;

}

.note-pad-control {
    display: flex;

    padding: 0;
}

.note-pad-control>.form-input {
    flex-basis: 85%;
    margin: 0;

    border: 0;
    border-radius: 8px 0px 0px 8px;
    border-top: 2px solid var(--header-bg-color-one);
    border-left: 2px solid var(--header-bg-color-one);
    border-bottom: 2px solid var(--header-bg-color-one);
}

.note-btn {
    flex-grow: 1;

    padding: 0;

    font-size: 21px;
    color: var(--header-bg-color-one);

    border-radius: 0px 8px 8px 0px;
    border: 2px solid var(--header-bg-color-one);
    background-color: inherit;
}

.note-btn:hover {
    cursor: pointer;
    color: var(--fg-one);
    background-color: var(--header-bg-color-one);
}


/* ABOUT PAGE */
.about-body {
    display: flex;
    justify-content: center;

    width: 100%;
}

.about-content {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.heading-2 {
    padding: 0px 5px 0px;
    margin: 0;

    text-align: left;
    line-height: 3;
    letter-spacing: 3px;
    color: var(--header-bg-color-one);
}

.heading-2:nth-last-of-type(even) {
    text-align: right;
    color: var(--header-bg-color-two);
}

.text {
    margin: 0;
    padding: 8px 8px;

    font-size: 18px;
    font-family: serif;
    list-style: none;

    border: 0;
    border-radius: 8px;
    box-shadow: -3px -3px var(--header-bg-color-one), 3px 3px var(--header-bg-color-two), 3px -3px var(--header-bg-color-one), -3px 3px var(--header-bg-color-two);
    background-color: var(--fg-one);
}

.text>strong {
    color: var(--header-bg-color-one);
}

.text a {
    color: var(--header-bg-color-one);
    text-decoration: none;
}

.text a:hover {
    color: var(--header-bg-color-two);
}

.ul-text{
    margin: 0;
    margin-bottom: 20px;
    padding: 8px 8px;

    font-size: 18px;
    font-family: serif;
    text-align: left;
    /* list-style; */

    border: 0;
    border-radius: 8px;
    box-shadow: -3px -3px var(--header-bg-color-one), 3px 3px var(--header-bg-color-two), 3px -3px var(--header-bg-color-one), -3px 3px var(--header-bg-color-two);
    background-color: var(--fg-one);
}
.list-item{
    margin-left: 17px;
    line-height: 1.3;
    letter-spacing: 2px;
}

/* LOGIN and REGISTER PAGEs  */
.login-body {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 80vh;
}

.form-block {
    display: flex;
    flex-direction: column;

    padding: 8px;
    margin: auto 0px;
    width: 295px;

    border: 0;
    border-radius: 8px;
    box-shadow: -3px -3px var(--header-bg-color-one), 3px 3px var(--header-bg-color-two), 3px -3px var(--header-bg-color-one), -3px 3px var(--header-bg-color-two);
    background-color: var(--bg-color);
}

.form-heading {
    display: flex;
    justify-content: center;

    padding: 0;
    margin: 0 0 10px;

    color: var(--header-bg-color-one);
}

.form-control {
    width: 100%;
}

.form-input {
    margin-top: 16px;

    width: 100%;
    height: 30px;

    font-size: 16px;
    border: 0;
    border-radius: 4px;
    border-bottom: 1px solid var(--header-bg-color-one);
}

.form-input:focus {
    outline: 0;
    color: var(--header-bg-color-two);
}

.form-label {
    position: relative;
    top: -25px;
    left: 2px;

    font-size: 16px;
    color: var(--header-bg-color-two);
}

.form-input:focus+.form-label,
.form-input:valid+.form-label {
    top: -53px;

    font-size: 17px;
    font-weight: bold;
}

.form-link {
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
    color: var(--header-bg-color-one);
}

.form-link:hover {
    color: var(--header-bg-color-two);
}

.form-btn { 
    margin: 0 auto;

    width: 45%;
    height: 37px;

    font-size: 17px;
    color: var(--fg-one);

    border: 0;
    border-radius: 8px;
    background-image: linear-gradient(90deg, var(--header-bg-color-one), var(--header-bg-color-two));
    background-image: -moz-linear-gradient(90deg, var(--header-bg-color-one), var(--header-bg-color-two));
    background-image: -webkit-linear-gradient(90deg, var(--header-bg-color-one), var(--header-bg-color-two));
}

/* loginMethod page */
.link{
    padding: 0;
    margin: 15px auto;

    text-decoration: none;

    width: 80%;
    height: 45px;
}
.icon{
    display: flex;
    align-items: center;
    fill: var(--fg-one);
    position: relative;
    left: 11px;
}

.link-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
    cursor: pointer;

    font-size: 17px;
    color: var(--fg-one);

    border: 0;
    border-radius: 8px;
    background-image: linear-gradient(90deg, var(--header-bg-color-one), var(--header-bg-color-two));
    background-image: -moz-linear-gradient(90deg, var(--header-bg-color-one), var(--header-bg-color-two));
    background-image: -webkit-linear-gradient(90deg, var(--header-bg-color-one), var(--header-bg-color-two));
}

@media screen and (max-width: 830px){
    .about-content{
        width: 60%;
    }
}

@media screen and (max-width: 512px) {

    .about-content  {
        width: 80%;
    }

    .nav-btn {
        margin: 0px 2px;

        width: 41px;
    }

    .nav-btn:hover {
        background-color: #8f0e12;
    }
}

@media screen and (max-width:350px) {
    header {
        justify-content: center;
    }

    header .heading {
        display: none;
    }

    .nav-btn {
        margin: 0px 2px;

        width: 61px;
    }

    .nav-btn:hover {
        background-color: #8f0e12;
    }
}